body {
  margin: 2.5% 5%;
  font-family: 'Fredericka the Great', Barrio, 'Pangolin', sans-serif;
  background: #961a20; 
}

.header {
    color: rgb(242, 236, 214);
    text-align: left;
    vertical-align: top;
    position: relative;
    top: 0px;
    font-family: 'Fredericka the Great', 'Allerta Stencil', 'Anton', 'Kaushan Script', sans-serif;
    font-size: 5em;
    font-weight: lighter;
    padding: 10px;
    /*background-color: #000;*/
    margin: 0;
    /*padding: 0;*/
    
  }

.floating-box {
    display: inline-block;
    width: 380px;
    height: 75px;
    margin: 1px;
    /* border: 3px solid #73AD21;  */
}

.pencilIcon {
  margin-top: 20px;
  font-size: 48px;
}